.header {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-container {
    margin: 20px 40px;
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.input-container i {
    position: absolute;
    left: 10px;
    color: #838383;
    font-size: 18px;
    pointer-events: none; /
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.input-container input:focus {
    border-color: #a89feb;
    box-shadow: 0 0 5px rgba(168, 159, 235, 0.5);
}

.input-container input::placeholder {
    color: #bbb;
    font-size: 0.9em;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 30px;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.user-info select{
    height: 40px;
    width: 160px;
    border: none;
    font-size: 1rem;
    opacity: 50%;
}

.user-info i{
    color: #838383;
    font-size: x-large;
}