@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: #f9fafc;
}

.content {
    flex: 1;
    padding: 20px;
}

.dashboard {
    margin: 45px;
}

.dashboard h1 {
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;
}

.stats .ipo-count{
    padding: 0 30px;
    /* border-right: 1px solid #000000; */
}

.ipo-count h4{
    font-size: larger;
    font-weight: 400;
}

.ipo-count h6{
    margin-bottom: 60px;
    font-size: small;
    font-weight: 400;
}

.circle-container {
    padding: 10px;
    position: relative;
    width: 300px; 
    height: 200px; 
    margin: 0 auto;
}

.circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.circle span.number {
    background-color: transparent;
    font-size: 1.2rem;
    text-decoration: none;
}

.circle span.text {
    font-size: 0.9rem;
    background-color: transparent;
}

.purple {
    background-color: #9370db;
    opacity: 80%;
    color: #ffffff;
    width: 130px;
    height: 130px;
    top: -40px;
    right: 105px;
    border: 3px solid #8a2be2;
}

.orange {
    background-color: #ffa400;
    opacity: 70%;
    color: #ffffff;
    width: 165px;
    height: 165px;
    top: 40px;
    left: 150px;
    border: 4px solid #ff9500;
}

.blue {
    background-color: #00bfff;
    color: #ffffff;
    width: 140px;
    height: 130px;
    bottom: -20px;
    border: 3px solid #0099cc;
}

.stats .quick-links{
    padding: 0 30px;
    /* border-right: 1px solid #000000; */
}

.quick-links h4{
    font-size: larger;
    font-weight: 400;
}

.quick-links h6{
    margin-bottom: 60px;
    font-size: small;
    font-weight: 400;
}

.link-lists {
    padding: 6px;
    position: relative;
    width: 300px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-lists td{
    padding-bottom: 10px;
}

.link-lists div {
    /* padding-bottom: 20px; */
    padding-right: 40px;
    padding-left: 20px;
}


.link-lists img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.link-lists a {
    text-decoration: none;
    font-size: small;
}

.stats .reports{
    padding: 0 30px;
}

.reports {
    padding: 20px;
    position: relative;
    width: 300px; 
    height: 200px; 
}

.view-report {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}
