@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: #f9fafc;
}

.content {
    flex: 1;
    padding: 20px;
}