{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'admin/css/navbar.css' %}">
    <link rel="icon" href="{% static 'assets/other item uploading soon/android app icon.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <aside class="sidebar">
        <img src={% static 'assets/logo/admin logo.png'%} class="logo">
        <nav class="menu">
            <ul>
                <li class="section-title">Menu</li>
                <li>
                    <i class='bx bx-bar-chart'></i>
                    <a href="{%url 'admin_dashboard'%}" class="{% if active_page == 'dashboard' %}active{% endif %}">Dashboard</a>
                </li>
                <li>
                    <i class='bx bxs-cart-alt'></i>
                    <a href="{% url 'manage_ipo' %}" class="{% if active_page == 'manage_ipo' %}active{% endif %}">Manage IPO</a>
                </li>
                <li>
                    <i class='bx bx-list-ul'></i>
                    <a href="#" class="{% if active_page == 'ipo_subscription' %}active{% endif %}">IPO Subscription</a>
                </li>
                <li>
                    <i class='bx bxs-message-square-dots'></i>
                    <a href="#" class="{% if active_page == 'ipo_allotment' %}active{% endif %}">IPO Allotment</a>
                </li>
                <li class="section-title">Others</li>
                <li>
                    <i class='bx bx-cog'></i>
                    <a href="#" class="{% if active_page == 'settings' %}active{% endif %}">Settings</a>
                </li>
                <li>
                    <i class='bx bxs-wallet-alt'></i>
                    <a href="#" class="{% if active_page == 'api_manager' %}active{% endif %}">API Manager</a>
                </li>
                <li>
                    <i class='bx bx-user'></i>
                    <a href="#" class="{% if active_page == 'accounts' %}active{% endif %}">Accounts</a>
                </li>
                <li>
                    <i class='bx bx-info-circle'></i>
                    <a href="#" class="{% if active_page == 'help' %}active{% endif %}">Help</a>
                </li>
            </ul>
            
        </nav>
    </aside>
</body>
</html>